@import './colours.scss';

.container {
    padding: 0px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 7fr;
    grid-auto-flow: column;
    grid-template-areas: 
      "header header header header"
      ". main main .";
    width: 100vw;
    height: 100vh;
}

.main-header {
  grid-area: header;
  background-color: $dark-background;
  text-align: center;
  color: $white;
}

.content {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
}

.footer {
  grid-area: footer;
}
  